<%if user_signed_in?%>
  <%if user_role == 'buyer' %>
    <%= form_with(model: @product, url:search_welcome_index_path, :method => 'get', remote: true) do |form| %> 
      Store <%= form.text_field_tag :search%>

      <%= submit_tag 'Search', name: nil, :class => 'search_products'  %>
    <% end %>
    <%#= text_field_tag :search, "", class: "search_products" %>
    <tbody>
      <div id="product_tbody_content">
        <%if !@products.nil?%>
          <%= render 'index_content' %>
        <%end%>
      </div>
    </tbody>
  <%elsif user_role == 'seller' %>
    <%= current_user.role%>
  <%end %>
<%end%>













 <script type="text/javascript">
   $(".search_products").onclick(function() {
       var search = $(this).val();
       debugger
       $.ajax({
          url: "/welcome/search",
          type: "GET",
          dataType: "script",
          data: {search: search}
       });
   });


   $('#category_id').change(function(){
    var category_id = $(this).val();
    $.ajax({
      url: "/products/" + category_id + "/get_subcategories",
      type: "GET",
      dataType: "script",
      data: { "category_id": category_id } 
    });
  })

</script>
  