<h1>All Order</h1>
 
<table class="table">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>price</th>
    <th>Total</th>
    <th></th>
  </tr>
 
  <% @allorders.each do |allorder| %>
    <% allorder.order_items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.price %></td>
      <td><%= item.quantity*item.product.price %></td>
      <td><%= link_to 'Show', product_path(item.product) %></td>
    </tr>
    <% end%>
  <% end %>
</table>
<%= link_to "shop here", welcome_index_path, class: "btn btn-primary"%>