<h2>All Products of <%= current_user.name%> </h2>
<% @products.each do |product| %>
<div class="container">
  <div class="row">
    <div class="col-sm-7 x" style="background-color:lavender;">
      <h1 align="center"><%=product.name%></h1>
      <h5>Price:<%= product.price%></h5>
      <h5>Tax:<%= product.tax%></h5>
      <h5>Category:<%=get_category(@product)%></h5>
      <h5>Sub_Category:<%= product.category.name%></h5>
    </div>
    <div class="col-sm-5" style="background-color:lavenderblush;">
      <%if product.image.attached? %>
        <%= image_tag product.image, size: "150x100"%>
      <%end%>
      <div>
      <%= link_to 'Edit ', edit_product_path(product), :class => "btn btn-primary" %><br>
      <%= link_to 'show ', product_path(product) %>
      <%= link_to ' Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
<br><%end %>

<style >
  .x{
    text-align: left;
  }
</style>
<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>
