<div class="jumbotron " >
  <h1><%= @product.name%></h1>
  <div class="row">
    <p class="alignment">Category: <%= get_category(@product)%></p>  
  </div>
  <div class="row">
    <div class="col-sm-4 desc">
      <p>Price:<%=@product.price%> Tax:<%= @product.tax%></p>
    </div>
      <p class="alignment">Sub Category: <%= @product.category.name%></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 desc">
      <h3>Description</h3>
      <p><%=@product.description%></p>
    </div>
    <div class="col-sm-4" >
      <%if @product.image.attached? %>
        <%= image_tag @product.image %>
      <%end%>
    </div>
  </div>
</div>

<div align="center">
  <%if current_user.role == 'seller'%>
    <%= link_to 'Show All Products', products_path, :class => "btn btn-primary" %>
    <%= link_to 'Add New Product', new_product_path, :class => "btn btn-primary" %>
    <%= link_to 'Edit Product', edit_product_path(@product), :class => "btn btn-primary" %><br>
  <%else%>
    <%= form_with(scope: "order_items", url: orders_path, method: :post, local: true) do |form| %>
      <%= form.hidden_field :product_id, value: @product.id %>
      <%= form.hidden_field :price, value: @product.price %>
      <h3>Quantity <%= form.number_field  :quantity, value: "1" ,class: 'number' %></h3>
      <%= form.submit  :class => "btn btn-primary", :value => "Add to cart"%>
    <%end %>
  <%end%>
</div>

<style>
  .alignment{
    float: right;
  }
  .desc{
    text-align: left;
  }
  .jumbotron{
    height: 250px;
  }
</style>
