<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "application", 'new' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
</head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/welcome/index">Shopping-Site</a>
        </div>
        <ul class="nav navbar-nav align-right" >
          <% if !user_signed_in? %>
            <li><%= link_to "Sign Up", "/users/sign_up"  %></li>
            <li><%= link_to "Log In", "/users/sign_in"  %></li>
          <% else %>
            <li>
              <%if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar ,size: "60x60"%>
              <%end%>
            </li>
            <li><%= link_to "Log Out", "/users/sign_out" %></li>
            <li><%= link_to "Edit Profile", "/users/edit" %></li>
            <%if current_user.role == 'buyer'%>
              <li><%= link_to "Add Address", new_location_path%><li>
              <li><%= link_to " Cart [#{get_order_items}]", orders_path, method: :get %></li>
              <li><%= link_to " Orders", order_path(current_user), method: :get %></li>
            <%end%>
            <% if current_user.role == 'seller' %>
              <li><%= link_to "Add Product", "/products/new" %> </li>
              <li><%= link_to "All Product", products_path %> </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container" align='center'>
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </body>
</html>
